#write {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#name {
    position: fixed;
    bottom: 34px;
}
#members {
    background-color: lightcyan;
    width: 150px;
    position: fixed;
    right: 0;
    padding: 10px;
}
